@import 'variables.css';
@import 'typography.css';

*,
*::after,
*::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: clamp(var(--w-page-min), 100%, var(--w-page-max));
}

.container {

  width: 100%;
  max-width: var(--w-container-max);
}

.header {

  position: relative;

  width: 100%;
  height: var(--h-header);

  background-color: var(--dark-grey);
  overflow: hidden;
}

.header::after {

  --skew-angle: var(--skew-header-angle-mobile);

  content: '';

  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 0;

  width: 200%;
  height: 100%;

  background-color: var(--white);
  transform: skewY(var(--skew-angle))
}

.header,
.footer,
.subscription-section,
.products-section,
.share-section {

  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
}

.header .container {
  
  z-index: 2;

  display: grid;
  grid-template-rows: repeat(4, auto);

  gap: var(--s-6);
  padding: var(--s-60) var(--s-16);
}

.nav {

  width: 100%;
  padding-top: var(--s-50);
}

.nav-list {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: var(--s-20);
}

.list-item {

  width: var(--w-nav-item);

  border: var(--border);
  border-radius: var(--radius);
  background-color: var(--white);
  box-shadow: var(--shadow);

  overflow: hidden;
  list-style-type: none;
}

.item-link {

  display: block;

  width: 100%;
  height: 100%;
  padding: var(--s-12);

  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 45.75rem) {/* 732px */

  .header::after {
    --skew-angle: var(--skew-header-angle-desktop);
  }

  .header .container {

    padding: var(--s-60) 0;
    text-align: center;
  }
}

@media screen and (min-width: 50rem) { /* 800px */

  .nav-list {
    gap: var(--s-40);
  }
}

.subscription-section .container {

  display: grid;
  grid-template-columns: var(--w-subscription-mobile);
  justify-content: center;
  
  gap: var(--s-30);
  padding: var(--s-30) var(--s-16);
}

.subscription-copy ,
.client-subscription {
  width: 100%;
}

summary.title-2 {

  position: relative;
  display: block;
  cursor: pointer;
}

summary.title-2::before {

  content: '';

  position: absolute;
  right: 1em;
  top: 0.1em;

  width: 0.7em;
  height: 0.7em;

  border-bottom: var(--border);
  border-right: var(--border);

  transform: rotate(45deg);
}

details[open].subscription-copy > summary.title-2::before {

  top: 0.5em;
  transform: rotate(225deg);
}

details[open].subscription-copy > .subscription-text{
  padding-top: var(--s-16);
}

.client-subscription {

  display: grid;
  grid-template-columns: 100%;
  gap: var(--s-20);
}

.label {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: var(--s-6);
}

.input {

  width: 100%;
  padding: var(--s-6);
}

.client-subscription .fieldset {

  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: var(--s-40);

  border: none;
}

.client-subscription .fieldset .label {
  flex-direction: row;
}

.button {

  padding: var(--s-12);

  background-color: var(--white);
  border: var(--border);
  border-radius: var(--radius);

  cursor: pointer;
}

.client-subscription .button {
  width: 100%;
}

@media screen and (min-width: 52rem) {/* 832px */

  .subscription-section .container  {

    grid-template-columns: 
    minmax(var(--w-subscription-mobile), var(--w-subscription-copy))
    var(--w-client-subscription);
  }

  summary.title-2 {
    padding-bottom: var(--s-14);
  }
}

@media screen and (min-width: 60rem) {/* 960px */

  .subscription-section .container  {

    gap: var(--s-60);
    padding: var(--s-30) 0;
  }
}

.products-section .container  {

  display: grid;
  grid-template-columns: 100%;
  justify-items: center;

  gap: var(--s-50);
  padding: var(--s-60) var(--s-16);
}

.cross-lined {

  position: relative;
  width: 100%;
  text-align: center;
}
 
.cross-lined > :first-child {

  display: inline-block;
  padding: 0 var(--s-16);
  background-color: var(--white);
}

.cross-lined::after {

  content: '';

  position: absolute;
  z-index: -1;
  bottom: 50%;
  left: 0;

  width: 100%;
  height: 100%;

  border-bottom: var(--border);
}

.button {
  width: var(--w-button);
} 

.products-section .products {

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  gap: var(--s-30);
}

.product-card {

  display: grid;
  grid-template-columns: var(--w-product-image) auto;

  gap: var(--s-20);
}

.product-description {
  display: none;
}

.product-card .product-image {

  width: var(--w-product-image);
  height: var(--h-product-image);

  border: var(--border);
}

.product-card .product-info {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: var(--s-12);
}

.product-info .product-pricing {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: var(--s-6);
}

.product-info .button {
  
  width: var(--w-button-card);
  padding: var(--s-6);
}

@media screen and (min-width: 52rem) { /* 832px */

  .products-section .container  {
    padding: var(--s-60) 0;
  }

  .products-section .products {

    flex-direction: row;
    gap: var(--s-40);
  }

  .products .product-card {
    grid-template-columns: var(--w-product-image-desktop)
  }

  .product-card .product-description {
    display: block;
  }
  
  .product-card .product-image {
  
    width: var(--w-product-image-desktop);
    height: var(--h-product-image-desktop);
  }
}

.share-section .container {

  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;

  padding: var(--s-70) var(--s-16) var(--s-80);
  gap: var(--s-30);
}

.share-section .share-text {
  text-align: center;
}

.share-section .button {
  margin-top: var(--s-12);
}

.friend-subscription {

  display: grid;
  grid-template-columns: var(--w-subscription-mobile);
  justify-content: center;

  gap: var(--s-20);
}

@media screen and (min-width: 52rem) {/* 832px */

  .share-section .container {
    gap: var(--s-40);
  }

  .friend-subscription  {

    grid-template-columns: 
    repeat(2, var(--w-subscription-mobile));

    gap: var(--s-40);
  }
}

.footer {

  position: relative;

  width: 100%;
  height: var(--h-footer);

  background-color: var(--dark-grey);
  overflow: hidden;
}

.footer::before {

  --skew-angle: var(--skew-footer-angle);

  content: '';

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0;

  width: 200%;
  height: 100%;

  background-color: var(--white);
  transform: skewY(var(--skew-angle));
}

.footer .container {

  position: inherit;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  gap: var(--s-6);
}

/* .product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
} */