body {
  font-family: var(--ff-primary);
}

.title-1 {

  font-size: var(--fs-20);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--white);
}

.title-2 {

  font-size: var(--fs-20);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--grey);
}

.title-3 {

  font-size: var(--fs-18);
  font-weight: var(--fw-b);
  line-height: var(--lh-0);
  color: var(--grey);
}

.title-4 {

  font-size: var(--fs-14);
  font-weight: var(--fw-m);
  line-height: var(--lh-2);
  color: var(--grey);
}

.strong-1 {

  font-size: var(--fs-40);
  font-weight: var(--fw-b);
  line-height: var(--lh-2);
  color: var(--white);
}

.strong-2 {

  font-size: var(--fs-16);
  font-weight: var(--fw-b);
  line-height: var(--lh-0);
  color: var(--grey);
}

.smaller-1 {

  font-size: var(--fs-14);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--white);
}

.smaller-2 {

  font-size: var(--fs-12);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--grey);
}

.smaller-3 {

  font-size: var(--fs-12);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--white);
}

.item-link {

  font-size: var(--fs-14);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--grey);
}

.header-text {

  font-size: var(--fs-14);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--white);
}

.subscription-text {

  font-size: var(--fs-12);
  font-weight: var(--fw-n);
  line-height: var(--lh-5);
  color: var(--grey);
}

.referral-text {

  font-size: var(--fs-14);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--grey);
}

.product-text {

  font-size: var(--fs-12);
  font-weight: var(--fw-n);
  line-height: var(--lh-3);
  color: var(--grey);
}

.label {

  font-size: var(--fs-12);
  font-weight: var(--fw-n);
  line-height: var(--lh-2);
  color: var(--grey);
}

.input,
.radio {

  font-size: var(--fs-18);
  font-weight: var(--fw-n);
  line-height: var(--lh-1);
  color: var(--grey);
}

.button {

  font-size: var(--fs-16);
  font-weight: var(--fw-n);
  line-height: var(--lh-1);
  color: var(--grey);
}

.message {

  font-size: var(--fs-12);
  font-weight: var(--fw-b);
  line-height: var(--lh-5); 
}

.message.danger {
  color: var(--danger);
}

.message.warning {
  color: var(--warning);
}

.message.ok {
  color: var(--ok);
}