:root {

  /* COLORS */

  --dark-grey: #707070;
  --grey: #888888;
  --shadow: #00000029;
  --white: #ffffff;


  /* TYPOGRAPHY */

  /* font-family */
  --ff-primary: 'Helvetica', sans-serif;

  /* font-size */
  --fs-0: 1rem;                         /* 16px */
  --fs-12: calc(var(--fs-0)*0.75);      /* 12px */
  --fs-14: calc(var(--fs-0)*0.875);     /* 14px */
  --fs-16: calc(var(--fs-0)*1);         /* 16px */
  --fs-18: calc(var(--fs-0)*1.125);     /* 18px */
  --fs-20: calc(var(--fs-0)*1.25);      /* 20px */
  --fs-40: calc(var(--fs-0)*2.5);       /* 40px */

  /* font-weight */
  --fw-n: 'normal';
  --fw-m: 600;
  --fw-b: 800;

  /* line-height */

  --lh-1: 1em;
  --lh-2: 1.2em;
  --lh-3: 1.3em;
  --lh-5: 1.5em;


  /* BOX-MODEL */

  /* sizing: width, height */

  /* max-width main container */
  --w-desktop: 57.5rem;                  /* 920px */

  /* max-width page */
  --w-page: 93.75rem;                 /* 1500px */

  --w-subscription-copy: 32.5rem;     /* 520px */
  --w-input: 21.25rem;                /* 340px */

  --w-product-card: 12.5rem;          /* 200px */
  --h-product-image: 9.375rem;        /* 150px */


  /* width buttons */
  --w-button-1: 10rem;                /* 160px */

  /* height header */
  --h-header: 25rem;                  /* 400px */

  /* skew */
  --skew-header: 5deg;

  /* spacing: gap, margin*/

  --spacer-0: 1rem;                         /* 16px */
  --spacer-1: calc(var(--spacer-0)*1.25);   /* 20px */
  --spacer-2: calc(var(--spacer-0)*1.5);    /* 24px */
  --spacer-3: calc(var(--spacer-0)*1.875);  /* 30px */
  --spacer-4: calc(var(--spacer-0)*2.5);    /* 40px */
  --spacer-5: calc(var(--spacer-0)*3.125);  /* 50px */
  --spacer-6: calc(var(--spacer-0)*3.75);   /* 60px */
  --spacer-7: calc(var(--spacer-0)*4.375);  /* 70px */
  --spacer-8: calc(var(--spacer-0)*5);      /* 80px */
  --spacer-10: calc(var(--spacer-0)*8);     /* 128px */

  --border-1: 0.0625rem solid var(--dark-grey);     /* 1px */
  --radius-1: 0.25rem;       /* 4px */

  /* padding */
  --padding-0: 1rem;                            /* 16px */
  --padding-1: calc(var(--padding-0)*0.375);    /* 6px */
  --padding-2: calc(var(--padding-0)*0.75);     /* 12px */

  /* box-shadow */
  --bs-1: 0 0.0625rem 0.375rem var(--shadow);
}