:root {

  /* COLORS */
  --dark-grey: #707070;
  --grey: #888888;
  --shadow-color: #00000029;
  --white: #ffffff;
  --danger: red;

  /* TYPOGRAPHY */

  /* font-family */
  --ff-primary: 'Helvetica', sans-serif;

  /* font-size */
  --fs-0: 1rem;                         /* 16px */
  --fs-12: calc(var(--fs-0)*0.75);      /* 12px */
  --fs-14: calc(var(--fs-0)*0.875);     /* 14px */
  --fs-16: calc(var(--fs-0)*1);         /* 16px */
  --fs-18: calc(var(--fs-0)*1.125);     /* 18px */
  --fs-20: calc(var(--fs-0)*1.25);      /* 20px */
  --fs-40: calc(var(--fs-0)*2.5);       /* 40px */

  /* font-weight */
  --fw-n: 'normal';
  --fw-m: 600;
  --fw-b: 700;

  /* line-height */
  --lh-1: 1em;
  --lh-2: 1.2em;
  --lh-3: 1.3em;
  --lh-4: 1.4em;
  --lh-5: 1.5em;

  /* BOX-MODEL */

  /* sizing: width, height */
  --w-page-max: 93.75rem;               /* 1500px */
  --w-page-min: 26.25rem;               /* 420px */
  --w-container-max: 57.5rem;           /* 920px */

  --w-subscription-copy: 32.5rem;       /* 520px */
  --w-client-subscription: 21.25rem;    /* 340px */
  --w-subscription-mobile: 24rem; /* 384px */       

  --w-button: 16.25rem;                 /* 260px */
  --w-button-card: 12.5rem;             /* 200px */

  --w-product-image: 10.5rem;           /* 168px */
  --h-product-image: 8rem;              /* 128px */

  --w-product-image-desktop: 12.5rem;   /* 200px */
  --h-product-image-desktop: 9.375rem;  /* 128px */

  --w-nav-item: 10rem;                  /* 160px */
  
  --h-header: 25rem;                    /* 400px */
  --h-footer: 18.75rem;                 /* 300px */

  /* skew */
  --skew-header-angle-mobile: 15deg;
  --skew-header-angle-desktop: 5deg;
  --skew-footer-angle: -5deg;

  /* spacing: gap, margin, padding*/
  --s-0: 1rem;                     /* 16px */
  --s-6: calc(var(--s-0)*.375);    /* 6px */
  --s-10: calc(var(--s-0)*.625);   /* 10px */
  --s-12: calc(var(--s-0)*.75);    /* 12px */
  --s-14: calc(var(--s-0)*.875);   /* 14px */
  --s-16: calc(var(--s-0)*1);      /* 16px */
  --s-20: calc(var(--s-0)*1.25);   /* 20px */
  --s-24: calc(var(--s-0)*1.5);    /* 24px */
  --s-30: calc(var(--s-0)*1.875);  /* 30px */
  --s-40: calc(var(--s-0)*2.5);    /* 40px */
  --s-50: calc(var(--s-0)*3.125);  /* 50px */
  --s-60: calc(var(--s-0)*3.75);   /* 60px */
  --s-70: calc(var(--s-0)*4.375);  /* 70px */
  --s-80: calc(var(--s-0)*5);      /* 80px */

  --radius: 0.25rem;                              /* 4px */
  --border: 0.0625rem solid var(--dark-grey);     /* 1px */
  --border-danger: 0.0625rem solid var(--danger);
  --border-warning: 0.0625rem solid var(--warning);
  --border-ok: 0.0625rem solid var(--ok);

  --shadow: 0 0.0625rem 0.375rem var(--shadow-color);
  --shadow-danger: 0 0.0625rem 0.375rem var(--danger);
  --shadow-warning: 0 0.0625rem 0.375rem var(--warning);
  --shadow-ok:  0 0.0625rem 0.375rem var(--ok);

}